[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
le = "*"
lehello = "*"
lecluvindex = "*"
"516a5f5" = {path = "./charla/mypackage", editable = true}
"9eda180" = {path = "./charla/letime", editable = true}
lechat = "*"

[dev-packages]

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
